body {
    font-size: 14px;
    padding: 15px 20px;

}

.scrollTableBody {
    /*height: 300px;*/
    overflow-x: auto;
    margin-top: 0;
    /*margin-bottom: 20px;*/
    border-bottom: 1px solid #eee;
    width: 335px;
    height: 480px;
    /*border-spacing: 0;*/

}

.scrollTable table {
    width: 335px;
    table-layout: fixed;
    border: none;
    border-spacing: 0;
}

.scrollTable thead  th {
    /*font-weight: bold;*/
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: black;
    color: white;
    font-size: 14px;
    height: 40px;
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

.vector {
    margin-left: 10px;
    position: relative;
    top: 3px;
    padding: 0;
    /*border: none;*/
    /*font: inherit;*/
    /*color: inherit;*/
    /*background-color: transparent;*/
    /*width: 14px;*/
    /*height: 14px;*/
    cursor: pointer;
    /*background-color: #EC174F;*/


}

.scrollTable tbody td {
    text-align: left;
    padding: 10px 15px;
    vertical-align: top;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 12px;
}

.scrollTable tbody tr:nth-child(even) {
    background: #f3f3f3;
}

.leftInfo {
    /*height: 50px;*/
    display: flex;
    flex-direction: column;
}

.weekDay {
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    /* or 133% */

    display: flex;
    align-items: center;

    color: rgba(28, 32, 37, 0.4)
}


/* Стили для скролла */


::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 20px black;*/
    /*color: blue;*/
    height: 3px;
    /*width: 300px;*/
    background-color: #32312e;
    box-shadow: 0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 5px;*/
    /*width: 300px;*/
    /*border-radius: 5px;*/
    background-color: red;
    box-shadow: 0px 1px 1px #fff inset;
    height: 3px;
    /*box-shadow: inset 0 0 10px red;*/
    /*color: green;*/
}

::-webkit-resizer {
    /*background-image:url('');*/
    /*background-repeat:no-repeat;*/
    width: 3px;
    height: 0px
}



::-webkit-scrollbar {
    /*width: 11px;*/
}


.addWalking {
    width: 335px;
    height: 60px;
    background-color: #EC174F;
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
}
